html
   head
      title navbar
      style
            include ../public/stylesheets/styles.css
   body
        div.navbar
            h3 Website Name
            ul
                li 
                    a(href="/") Home
                li
                    a(href="/services") Our Services
                li
                    a(href="/contact") Contact us
