html
    head
        title our services
        style
            include ../public/stylesheets/styles.css
    body
        include ./navbar.pug
        div.services-section
        div.inner-width
            h2.section-title get to know us
            div.border
                div.services-container
                    div.service-box
                        img(src="../public/images/photo.jpeg")
                        div.service
                            p.service-title service1
                            p Proin ut mi sapien. Phasellus felis leo, ornare tristique nisl in, rhoncus posuere ligula. Proin tincidunt tristique eleifend. Donec in lorem id mauris blandit dignissim vitae vitae nibh. Aliquam erat volutpat. Cras pellentesque ullamcorper dolor nec molestie. Nulla rhoncus lobortis urna, id efficitur dolor viverra vitae.
                    div.service-box
                        img(src="../public/images/photo.jpeg")
                        div.service
                            p.service-title service2
                            p Vestibulum imperdiet erat magna, eu condimentum sapien facilisis vitae. Ut vulputate risus nec felis finibus sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate dolor eu ex posuere, sit amet euismod nulla varius. Pellentesque justo eros, luctus tincidunt ante sed, vehicula varius lacus.
                    div.service-box
                        img(src="../public/images/photo.jpeg")
                        div.service
                            p.service-title service3
                            p Pellentesque vel felis nec augue molestie faucibus. Donec vestibulum turpis ac dui suscipit ornare. Nunc in turpis sit amet ex sagittis commodo sed non nisi. Nullam porta lacus ullamcorper, iaculis diam a, egestas mauris. In arcu leo, laoreet at malesuada non, euismod sed mi. Pellentesque tempus sapien et tellus tempor porttitor.
                    div.service-box
                        img(src="../public/images/photo.jpeg")
                        div.service
                            p.service-title service4
                            p Cras mollis nec ante vitae condimentum. Duis blandit erat ac urna interdum, euismod egestas mi interdum. Proin mattis luctus turpis, nec porta sapien viverra at. Aenean auctor fermentum fermentum. Suspendisse finibus, turpis eu tempor viverra, libero risus aliquam nisl, ut convallis erat arcu ut sapien. Vestibulum at libero gravida, vestibulum nibh non, porta risus.